**Data Types and Structures Questions**

In [ ]:
'''
Q1 - What are data structures, and why are they important?

Ans - Data structures are essentially ways of organizing and storing data so that it can be accessed and manipulated efficiently.
Data structures are string, list, set, tuples, dictionary, array.

Importance of data structures are -
1. Data structures allow computers to manage large amounts of data efficiently.
2. By using data structure, users can optimize how their code runs.
3. Data structures makes it easier to understand and maintain a data, especially when user is working on a large and complex projects.

'''

In [ ]:
'''
Q2 - Explain the difference between mutable and immutable data types with examples.

Ans - Data types whose value can be changed after they are created are mutable data types. This includes lists, dictionaries, and sets.
Those data types which can't be changed once they are created are immutable data types. This includes integers, floats, strings, tuples, and frozensets.

'''
# Mutable data type example with the help of list.

list1 = [1, 2.3, 3+5j, "himani"]
print(list1)

list1[0] = 26
print(list1)

[1, 2.3, (3+5j), 'himani']
[26, 2.3, (3+5j), 'himani']

In [ ]:
# Immutable data type example with the help of tuple. (Q2)

tuple1 = (2, 4.5, 6+2j, "sukrawal")
print(tuple1)

tuple1[1] = 3
print(tuple1)

(2, 4.5, (6+2j), 'sukrawal')

TypeError: 'tuple' object does not support item assignment

In [ ]:
'''
Q3 - What are the main differences between lists and tuples in Python?

Ans - Please see the main differences between lists and tuples mentioned in points below.
Lists -
1. It is mutable (can be modified).
2. Iteration over lists is time taking
3. It is better for performing operations, such as insertion and deletion..
4. It consume more memory.
5. It have several built-in methods.
6. It is more prone to unexpected changes and errors.

Tuples -
1. It is immutable(cannot be modified).
2. Iterations over tuple is faster
3. It is more suitable for accessing elements efficiently.
4. It consumes less memory
5. It have fewer built-in methods.
6. It is less prone to the errors.

Check command execution of Lists and Tuples in examples of Q2.

'''

In [ ]:
'''
Q4 -  Describe how dictionaries store data.

Ans - Dictionary is a data structure that stores the data in the form of key-value pairs,
Some points about dictionary are -
1. The element which is before the colon is known as key. Keys in dictionary must be unique.
2. The element which is after the colon is known as value.
3. In Python 3.6 and earlier versions, dictionaries are unordered but after Python version 3.7, dictionaries are ordered.
4. It is mutable and do not allows duplicates.

'''

In [ ]:
'''
Q5 - Why might you use a set instead of a list in Python?

Ans - Below are the reasons of using set instead of a list in Python -
1. Sets contain only unique elements and automatically removes the duplicates.
2. Ideal for mathematical set operations like union, intersection, and difference.
3. Performs faster than lists.
4. It can be used when you need to ensure all elements are unique.
5. It is mutable, elements can be added or removed, but individual elements cannot be changed.
6. If the order of elements is not important, a set can be more efficient and appropriate than a list.

'''

In [ ]:
'''
Q6 - What is a string in Python, and how is it different from a list?

Ans - String is a sequence of characters. It represents and manipulates the textual data. It is one of the data types in Python and is immutable.
However, a list is a sequence of items where each item could be anything. It can be an integer, a float, a string, etc.

'''
# Example of a string
Name = "Himani"
type(Name)

str

In [ ]:
# Example of a List (which can includes various data types) - Q6

my_list = [1, 9.1, 1+3j, "Himani", True]
type(my_list)

list

In [ ]:
type(my_list[2])

complex

In [ ]:
type(my_list[4])

bool

In [ ]:
'''
Q7 - How do tuples ensure data integrity in Python?

Ans - Tuples ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed.
It ensures that the data stored in tuple remains constant and it prevents accidental or unauthorized changes. It is very useful from the
prospective of the organizations where critical data like Employee ID, name of employee, etc. needs to be maintained so that the information
will not be altered by any other user.

'''

In [ ]:
'''
Q8 - What is a hash table, and how does it relate to dictionaries in Python?

Ans - A hash table is a data structure that stores information in a key-value pairs and allows you to quickly retrieve it based on a "key".
In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable, they are generated
by a hash function which generates a unique result for each unique value supplied to the hash function.

'''

In [ ]:
'''
Q9 - Can lists contain different data types in Python?

Ans - Yes, lists can contain different data types in Python and is mutable. It can contain integers, floats, strings, tuples, and frozensets.

'''
# Example that proves that it can contain different data types.

list1 = [1, 2.3, 3+5j, "himani", False]
print(list1)
type(list1[0])

[1, 2.3, (3+5j), 'himani', False]

bool

In [ ]:
type(list1[2])

complex

In [ ]:
type(list1[4])

bool

In [ ]:
'''
Q10 - Explain why strings are immutable in Python.

ans - Strings are immutable for reasons of efficiency, safety, and design consistency. Any operation that appears to modify
a string actually creates a new string object because once a string is created, its value cannot be changed.
Another reason is thread safety. Immutable strings are thread-safe which means they can be freely shared between multiple
threads without the risk of data corruption due to the occuring modifications.
Lastly, immutability enhances code clarity and reduces the chances of data manipulation or modification.
Addition to this, immutable strings can be used as keys in dictionaries.

'''

In [ ]:
'''
Q11 - What advantages do dictionaries offer over lists for certain tasks?

Ans - Advantages are -
1. It is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.
2. They make code much easier to read if we need to generate key:value pairs.
3. User can look up a certain value in a dictionary very quickly.
4. It is used to store large amounts of data for easy and quick access.

'''

In [ ]:
'''
Q12 - Describe a scenario where using a tuple would be preferable over a list?

Ans - When you are maintaing a data which do not required any data modification of the elements after creation in that case a tuple would be
preferred over a list. For example - A database of an organization with large number of employees in it. Each employee has a unique Emp ID,
a name, and a fixed designation which does not change often or shouldn't be changed accidentally during processing.

'''

In [ ]:
'''
Q13 - How do sets handle duplicate values in Python?

Ans - Sets in python automatically remove duplicate values. When a user add elements/ values to a set and enter a duplicate value in that set,
then after the execution of the command any duplicates are ignored.

'''
# Example of how sets handle duplicate values.

s = {1, 2, 2, "one", "one", "Himani"}
print(s)

{1, 2, 'Himani', 'one'}

In [ ]:
'''
Q14 - How does the “in” keyword work differently for lists and dictionaries?

Ans - The "in" keyword in lists checks if a value is present in the list or not whereas in dictionaries, it checks if a key is present
in the dictionary or not.

'''
# Example of "in" keyword in lists
l1 = [10, 20, 30, 40]
print(10 in l1)   # gives True because 10 is present in the given list.
print(80 in l1)   # gives False because 80 is not present in the given list.

True
False

In [ ]:
# Example of "in" keyword in dictionaries - Q14
d1 = {"name" : "Himani", "age" : 26, "gender" : "Female"}
print("name" in d1)      # gives True because 10 is present in the given dictionary.
print("address" in d1)   # gives False because 80 is not present in the given dictionary.

True
False

In [ ]:
'''
Q15 - Can you modify the elements of a tuple? Explain why or why not?

Ans - Tuple in nature is immutable. Once a tuple is created, its elements cannot be changed, added, or removed.
It is used when user needs to create a data which do not required any data modification of the elements after creation.
Tuples prevent accidental modification of data and are slightly faster than lists. It can be used as dictionary keys or
in sets if they contain only immutable elements.

'''

In [ ]:
'''
Q16 - What is a nested dictionary, and give an example of its use case?

Ans - A nested dictionary is a dictionary where values themselves are dictionaries. It allows you to store grouped data in a structured way.

'''
# Use case of a nested dictionary
menu = {
    "French Fries": {"Category": "Starters", "Price": 250},
    "Mac and Cheese": {"Category": "Main Course", "Price": 700},
    "Cold Coffee": {"Category": "Drinks", "Price": 300}
}
print(menu["Cold Coffee"]["Price"])   # to know the price of Cold Coffee from the menu.

300

In [ ]:
'''
Q17 -  Describe the time complexity of accessing elements in a dictionary

Ans - The time complexity of accessing elements in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.
Hash tables use the hash of the key to find the memory location which enables direct access.

'''
# Example of accessing elements in a dictionary.

Dic_A = {"name" : "Himani", "age" : 26, "gender" : "Female"}
print(Dic_A["name"])
print(Dic_A["age"])
print(Dic_A["gender"])

Himani
26
Female

In [ ]:
'''
Q18 - In what situations are lists preferred over dictionaries?

Ans - In situations where -
1. Data is not needed in order and sequence Matter
2. Data is not needed in Key-Value Pairs.
3. Need to get the data on the index basis.
4. While performing iterative or positional operations.
5. Lists less memory than dictionaries when user needs a simple sequence of values.

'''

In [ ]:
'''
Q19 - Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans - In python, dictionaries are un-ordered because they are not intended to be in order. It is a data structure which is optimized
for fast storage and recovery based on key. In Python 3.6 and earlier versions, dictionaries are unordered but after Python version 3.7,
dictionaries are ordered. Technically, after Python version 3.7 dictionaries are ordered but they are still not indexable by position like lists.
They're ordered by insertion, not by key value or any other logic.

The unordered nature affects data retrieval if the user is depend on -
1. Processing items in a specific order.
2. Accessing items by position.

'''

In [ ]:
'''
Q20 - Explain the difference between a list and a dictionary in terms of data retrieval.

Ans - The difference between a list and a dictionary in terms of data retrieval is -
List -
1. Access by Index (Position).
2. Retrieval method - list[index]
3. Index must be an integer, starting from 0.
4. Retrives the data in ordered way.

Dictionary -
1. Access by Key (Label).
2. Retrieval method - dict[key]
3. Key can be any hashable object (For example - string, number, tuple).
4. Retrives the data in unordered way or not a fixed manner.

'''

**Practical Questions**

In [ ]:
# Q1 - Write a code to create a string with your name and print it.

name = "Himani"
print(name)

Himani

In [ ]:
# Q2 - Write a code to find the length of the string "Hello World".

word = "Hello World"
len(word)

11

In [ ]:
# Q3 - Write a code to slice the first 3 characters from the string "Python Programming".

Course = "Python Programming"
Course[0:3]

'Pyt'

In [ ]:
# Q4 - Write a code to convert the string "hello" to uppercase

a = "hello"
print(a.upper())

HELLO

In [ ]:
# Q5 - Write a code to replace the word "apple" with "orange" in the string "I like apple".

b = " I like apple"
b = b.replace ("apple", "orange")
print(b)

 I like orange

In [ ]:
# Q6 - Write a code to create a list with numbers 1 to 5 and print it.

List1 = [1, 2, 3, 4, 5]
print(List1)

[1, 2, 3, 4, 5]

In [ ]:
# Q7 - Write a code to append the number 10 to the list [1, 2, 3, 4].

list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
# Q8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

List2 = [1, 2, 3, 4, 5]
List2.remove(3)
print(List2)

[1, 2, 4, 5]

In [ ]:
# Q9 - Write a code to access the second element in the list ['a', 'b', 'c', 'd']

List3 = ['a', 'b', 'c', 'd']
print(List3[1])

b

In [ ]:
# Q10 - Write a code to reverse the list [10, 20, 30, 40, 50].

List4 = [10, 20, 30, 40, 50]
List4.reverse()
print(List4)

[50, 40, 30, 20, 10]

In [ ]:
# Q11 - Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [ ]:
# Q12 - Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [ ]:
# Q13 - Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple3 = (10, 20, 5, 15)
min(tuple3)

5

In [ ]:
# Q14 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuple4 = ('dog', 'cat', 'rabbit')
tuple4.index('cat')

1

In [ ]:
# Q15 - Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple5 = ("apple", "watermelon", "kiwi")
if "kiwi" in tuple5:
  print("Yes, Kiwi is present in this tuple")
else:
  print("No, Kiwi is present in this tuple")

Yes, Kiwi is present in this tuple

In [ ]:
# Q16 - Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a', 'b', 'c'}
print(set1)
type(set1)

{'a', 'b', 'c'}

set

In [ ]:
# Q17 - Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1, 2, 3, 4, 5}
print(set2)
set2.clear()
print(set2)

{1, 2, 3, 4, 5}
set()

In [ ]:
# Q18 - Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [ ]:
# Q19 - Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
# Q20 - Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# sets s1 and s2 are already defined in Q19

s1 & s2

{3}

In [ ]:
# Q21 - Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1 = {"name":"Himani","age":26,"city":"Delhi"}
print(dict1)

{'name': 'Himani', 'age': 26, 'city': 'Delhi'}

In [ ]:
# Q22 - Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23 - Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [ ]:
# Q24 - Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25 - Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dict5 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict5 :
  print("Yes, city exists in this dictionary")
else :
  print("No, city exists in this dictionary")

Yes, city exists in this dictionary

In [ ]:
# Q26 - Write a code to create a list, a tuple, and a dictionary, and print them all.

# List
lis1 = [1,2,3]
print(lis1)
type(lis1)

[1, 2, 3]

list

In [ ]:
# Q26 - Tuple
tup1 = (1,2,3)
print(tup1)
type(tup1)

(1, 2, 3)

tuple

In [ ]:
# Q26 - Dictionary
dic1 = {"name":"Himani","age":26,"city":"Delhi"}
print(dic1)
type(dic1)

{'name': 'Himani', 'age': 26, 'city': 'Delhi'}

dict

In [ ]:
# Q27 - Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
list2 = [ random.randint(1,100) for i in range(5)]
print(list2)    # print the random number list
list2.sort()    # sort command
print(list2)    # print the sorted list

[76, 86, 52, 16, 39]
[16, 39, 52, 76, 86]

In [ ]:
# Q28 - Write a code to create a list with strings and print the element at the third index.

list3 = ["Hi", "How", "Are", "You"]
print(list3[2])

Are

In [ ]:
# Q29 - Write a code to combine two dictionaries into one and print the result.

D1 = {"name":"Himani","age":26}
D2 = {"address":"1234, Central Delhi","city":"Delhi"}
combined_dict = {**D1, **D2}
print(combined_dict)

{'name': 'Himani', 'age': 26, 'address': '1234, Central Delhi', 'city': 'Delhi'}

In [ ]:
# Q30 - Write a code to convert a list of strings into a set.

list5 = ["Hi", "How", "Are", "You"]
set4 = set(list5)
print(set4)
type(set4)

{'You', 'Hi', 'How', 'Are'}

set